################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lektion3/.vs/Lektion3/FileContentIndex/09546137-c50c-48e4-ba87-004bd79e5279.vsidx
/Lektion3/.vs/Lektion3/FileContentIndex/3cad5006-a02d-4c54-8efe-be1d4191a9da.vsidx
/Lektion3/.vs/Lektion3/FileContentIndex/67325c90-1d4d-42c3-9319-34908ff97229.vsidx
/Lektion3/.vs/Lektion3/FileContentIndex/9faa63a2-23ca-41ab-9c28-ce39cd876d50.vsidx
/Lektion3/.vs/Lektion3/FileContentIndex/c80360be-7d6e-4f11-97cc-3ca99022de8b.vsidx
